.input-div {
    text-align: center;
    margin: 25px;

}

.input {
    height: 55px;
    width: 80%;
    font-size: 20px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid lightgray;
    border-radius: 8px;
    
}