.head-section {
    background: url(../../images/creativity.jpg) ;
    background-position: right -190px  center;
    height: 500px;
}

.head-title {
    color: lightgrey;
    width: 300px;
    margin: 0 auto;
    padding-top: 90px;
    
    
}

.head-subtitle {
    color: lightgrey;
    margin-top: 120px;
    margin-left: 560px;
    
}


.head-subtitle-tail {
    color: #171717;
    font-weight: bolder;
}

.fas {
    color: lightgrey;
}

.pin-section {
    text-align: center;
    margin-top: 100px;
}
.footer-section {
    background: #8ED5E1;

}
.footer-title {
    font-weight: 100;
    font-size: 40px;
    color: rgb(53, 75, 80);
    padding-top: 100px;
}
.footer-subTitle {
    text-align: center;
    margin-top: 50px;
}

.footer-subTitle-tail {
    display: block;
    color: rgb(53, 75, 80);
}

.footer-title-tail {
    font-size: 25px;
    font-weight: 100;
    color: rgb(53, 75, 80);
}

.sub-pins {
    color: rgb(9, 57, 77);
    font-size: 50px;
}