.header-container {
    width: 500px;
    position: relative;
    margin: 0 auto;
    padding: 10px;
}

.home {
    position: absolute;
    top: 435px;
    left: 238px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header-container {
        width: 450px;
        padding: 5px;
    }

    .home {
        top: 380px;
        left: 200px;
    }
}
  
@media (min-width: 481px) and (max-width: 767px) {
    .header-container {
        width: 350px;
        padding: 2px;
    }
    
    .home {
        top: 282px;
        left: 155px;
    }
}
  
@media (max-width: 480px) {
    .header-container {
        width: 320px;
        padding: 2px;
    }

    .home {
        top: 255px;
        left: 135px;
    }
}