.main-table {
    width: 980px;
    margin: 20px auto; 
} 

.main-table td, .main-table th {
    font-size: 15px;
}

.table-title {
    font-size: 24px;
    text-align: center;
    color: #C1D7BF;
    font-weight: bold;
    margin: 5px 0;
}
  
@media (min-width: 768px) and (max-width: 1024px) {
    .main-table {
        width: 750px;
        margin: 4px auto; 
    } 
    
    .main-table td, .main-table th {
        font-size: 14px;
    }    
}
  
@media (min-width: 481px) and (max-width: 767px) {
    .main-table {
        width: 470px;
        margin: 2px auto; 
    } 
    
    .main-table td, .main-table th {
        font-size: 12px;
    }        
}
  
@media (max-width: 480px) {
    .main-table {
        width: 320px;
        margin: 2px auto; 
    } 
    
    .main-table td, .main-table th {
        font-size: 9px;
    }     
}
