.sevan {
    fill:#00a0f0;
    stroke: #262626;
    stroke-width: 2;
}

.city {
    fill: rgb(104, 226, 88);
    transition: fill 0.4s linear;
}

.group-province {
    cursor: pointer;
}

.group-province:hover .city {
    fill: rgb(34, 150, 24);
}

.city {
    stroke: #262626;
    stroke-width: 2;
}

.title {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.kapan {
    transform: translate(1510px, 1405px);
}

.gavar {
    transform: translate(1060px, 950px);
}

.yeghegnadzor {
    transform: translate(1055px, 1185px);
}

.artashat {
    transform: translate(685px, 1080px);
}

.hrazdan {
    transform: translate(619px, 745px);
}

.yerevan {
    transform: translate(582px, 902px);
}

.armavir {
    transform: translate(220px, 925px);
}

.ashtarak {
    transform: translate(240px, 720px);
}

.ijevan {
    transform: translate(920px, 365px);
}

.vanadzor {
    transform: translate(485px, 265px);
}

.gyumri {
    transform: translate(158px, 290px);
}